<a href="https://colab.research.google.com/github/Kirithika-M/Machine-Learning-Lab/blob/main/ML_lab_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## ML Lab 1 : Program to import, load, and view a dataset

In [1]:
# Step 1 : Import the required library
import pandas as pd

# Step 2 : Load the dataset from a csv file
# Ensure the FuelConsumption(2).csv is in the same directory as this Python
df = pd.read_csv("FuelConsumption (2).csv")
# df = pd.read_csv("/content/FuelConsumption (2).csv") --> use this when the above line fails

# Step 3 : Display the first 5 rows
print(f"1. First 5 rows of the dataset: \n{df.head()}")

# Step 4 : Display column names
print("\n2. Column names:")
print(df.columns.tolist())

# Step 5 : Display the shape of the dataset
print("\n3. Shape of the dataset (rows, columns):", df.shape)

# Step 6 : Display data types of each column
print("\n4. Data Types:")
print(df.dtypes)

# Step 8 : Display summary statistics
print("\n5. Summary Statistics - info():")
print(df.info())

print("\n6. Summary Statistics - describe():")
print(df.describe(include="all"))

# Step 8 : Display count of missing values
print("\n7. Missing values in Each Column:")
print(df.isnull().sum())

1. First 5 rows of the dataset:
   MODELYEAR   MAKE       MODEL VEHICLECLASS  ENGINESIZE  CYLINDERS  \
0       2014  ACURA         ILX      COMPACT         2.0          4
1       2014  ACURA         ILX      COMPACT         2.4          4
2       2014  ACURA  ILX HYBRID      COMPACT         1.5          4
3       2014  ACURA     MDX 4WD  SUV - SMALL         3.5          6
4       2014  ACURA     RDX AWD  SUV - SMALL         3.5          6

  TRANSMISSION FUELTYPE  FUELCONSUMPTION_CITY  FUELCONSUMPTION_HWY  \
0          AS5        Z                   9.9                  6.7
1           M6        Z                  11.2                  7.7
2          AV7        Z                   6.0                  5.8
3          AS6        Z                  12.7                  9.1
4          AS6        Z                  12.1                  8.7

   FUELCONSUMPTION_COMB  FUELCONSUMPTION_COMB_MPG  CO2EMISSIONS
0                   8.5                        33           196
1                   9.6                        29           221
2                   5.9                        48           136
3                  11.1                        25           255
4                  10.6                        27           244

2. Column names:
['MODELYEAR', 'MAKE', 'MODEL', 'VEHICLECLASS', 'ENGINESIZE', 'CYLINDERS', 'TRANSMISSION', 'FUELTYPE', 'FUELCONSUMPTION_CITY', 'FUELCONSUMPTION_HWY', 'FUELCONSUMPTION_COMB', 'FUELCONSUMPTION_COMB_MPG', 'CO2EMISSIONS']

3. Shape of the dataset (rows, columns): (1067, 13)

4. Data Types:
MODELYEAR                     int64
MAKE                         object
MODEL                        object
VEHICLECLASS                 object
ENGINESIZE                  float64
CYLINDERS                     int64
TRANSMISSION                 object
FUELTYPE                     object
FUELCONSUMPTION_CITY        float64
FUELCONSUMPTION_HWY         float64
FUELCONSUMPTION_COMB        float64
FUELCONSUMPTION_COMB_MPG      int64
CO2EMISSIONS                  int64
dtype: object

5. Summary Statistics - info():
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1067 entries, 0 to 1066
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   MODELYEAR                 1067 non-null   int64
 1   MAKE                      1067 non-null   object
 2   MODEL                     1067 non-null   object
 3   VEHICLECLASS              1067 non-null   object
 4   ENGINESIZE                1067 non-null   float64
 5   CYLINDERS                 1067 non-null   int64
 6   TRANSMISSION              1067 non-null   object
 7   FUELTYPE                  1067 non-null   object
 8   FUELCONSUMPTION_CITY      1067 non-null   float64
 9   FUELCONSUMPTION_HWY       1067 non-null   float64
 10  FUELCONSUMPTION_COMB      1067 non-null   float64
 11  FUELCONSUMPTION_COMB_MPG  1067 non-null   int64
 12  CO2EMISSIONS              1067 non-null   int64
dtypes: float64(4), int64(4), object(5)
memory usage: 108.5+ KB
None

6. Summary Statistics - describe():
        MODELYEAR  MAKE         MODEL VEHICLECLASS   ENGINESIZE    CYLINDERS  \
count      1067.0  1067          1067         1067  1067.000000  1067.000000
unique        NaN    39           663           16          NaN          NaN
top           NaN  FORD  F150 FFV 4X4     MID-SIZE          NaN          NaN
freq          NaN    90             8          178          NaN          NaN
mean       2014.0   NaN           NaN          NaN     3.346298     5.794752
std           0.0   NaN           NaN          NaN     1.415895     1.797447
min        2014.0   NaN           NaN          NaN     1.000000     3.000000
25%        2014.0   NaN           NaN          NaN     2.000000     4.000000
50%        2014.0   NaN           NaN          NaN     3.400000     6.000000
75%        2014.0   NaN           NaN          NaN     4.300000     8.000000
max        2014.0   NaN           NaN          NaN     8.400000    12.000000

       TRANSMISSION FUELTYPE  FUELCONSUMPTION_CITY  FUELCONSUMPTION_HWY  \
count          1067     1067           1067.000000          1067.000000
unique           22        4                   NaN                  NaN
top              A6        X                   NaN                  NaN
freq            222      514                   NaN                  NaN
mean            NaN      NaN             13.296532             9.474602
std             NaN      NaN              4.101253             2.794510
min             NaN      NaN              4.600000             4.900000
25%             NaN      NaN             10.250000             7.500000
50%             NaN      NaN             12.600000             8.800000
75%             NaN      NaN             15.550000            10.850000
max             NaN      NaN             30.200000            20.500000

        FUELCONSUMPTION_COMB  FUELCONSUMPTION_COMB_MPG  CO2EMISSIONS
count            1067.000000               1067.000000   1067.000000
unique                   NaN                       NaN           NaN
top                      NaN                       NaN           NaN
freq                     NaN                       NaN           NaN
mean               11.580881                 26.441425    256.228679
std                 3.485595                  7.468702     63.372304
min                 4.700000                 11.000000    108.000000
25%                 9.000000                 21.000000    207.000000
50%                10.900000                 26.000000    251.000000
75%                13.350000                 31.000000    294.000000
max                25.800000                 60.000000    488.000000

7. Missing values in Each Column:
MODELYEAR                   0
MAKE                        0
MODEL                       0
VEHICLECLASS                0
ENGINESIZE                  0
CYLINDERS                   0
TRANSMISSION                0
FUELTYPE                    0
FUELCONSUMPTION_CITY        0
FUELCONSUMPTION_HWY         0
FUELCONSUMPTION_COMB        0
FUELCONSUMPTION_COMB_MPG    0
CO2EMISSIONS                0
dtype: int64

## Program for doing forward fill and backward fill